<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/hero.css">
    <link rel="stylesheet" href="/stylesheets/tools.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link rel="stylesheet" href="/stylesheets/howitworks.css">
    <link rel="shortcut icon" href="/images/software-development.png" type="image/x-icon">
    <title>Tool Store</title>
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <img src="/images/software-development.png" alt="" />
                <a href="/">Tool.<span>Store</span></a>
            </div>
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="#aboutus">About us</a></li>
                <li><a href="#howitworks">How Works</a></li>
                <li><a href="/cateogery">Cateogeries</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <h1>Discover The Best Ai-Tools</h1>
        <h2>Best AI Companies and Tools</h2>
    

        <div class="search">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search tools" id="search">
                <button  type="submit"><i class="bi bi-search" ></i></button>
            </form>
        </div>
        
                <br>
                <h1>Explore More</h1>

    </div>

    <div style="text-decoration: none;" class="tools">
        <% tools.forEach(function(tool){ %>

            <div class="tool" data-category="<%= tool.category %>">

                <div class="img">

                    <img src="/images/uploads/<%= tool.image %>" alt="">
                </div>
                <div class="head-star">
                    <h3>
                        <%= tool.toolname%>
                    </h3>
                </div>
                <p>
                    <%= tool.description%>
                </p>

                <div class="category">
                    <a>free</a>
                    <a>Ai-Based</a>
                    <a>Website</a>
                </div>
                <a href="<%= tool.link%>" class="btn" target="_blank">
                    <button onclick="">Open Site</button>
                </a>

            </div>
            <% }) %>

    </div>

    <section class="aboutus" id="aboutus">
        <div class="left">
            <h1><strong>Know</strong> Tool<span>Store</span></h1>
            <p>
                <strong>Tool<span>Store</span></strong> is a versatile platform offering a curated collection of digital
                tools. It's a marketplace or
                repository that provides users access to diverse software tools, facilitating tasks across various
                domains such as development, design, productivity, and more
                <br />
                <a href="/cateogery">Click here</a> to start Exploreing <strong>Tool<span>Store</span></strong>
            </p>
        </div>

        <div class="right">
            <div>
                <img src="/images/software-development.png" alt="" />
            </div>
        </div>
    </section>

    <section class="howitworks" id="howitworks">
        <h1>
            How it works?
        </h1>
        <div class="container">
            <div class="box">
                <img src="/images/log-in.png" alt="">
                <h2><a href="/profile">Log In / Register</a></h2>
            </div>
            <div class="box">
                <img src="/images/explore.png" alt="">
                <h2><a href="/">Explore Tools</a></h2>
            </div>
            <div class="box">
                <img src="/images/classification.png" alt="">
                <h2><a href="/cateogery">Explore Cateogeries</a></h2>
            </div>
            <div class="box">
                <img src="/images/exchange.png" alt="">
                <h2><a href="">Improve Knowledge</a></h2>
            </div>

        </div>
    </section>



    <footer>
        <div class="footer">
            <div class="info">
                <h3>Contact ToolStore</h3>
                <a href="mailto:ToolStore@gmail.com" class="bi bi-envelope"> ToolStore@gmail.com</a>
                <a href="phone" class="bi bi-phone"> +91 1234567890</a>
                <a href="address" class="bi bi-geo-alt"> Address</a>
            </div>

            <div class="links">
                <h3>Links</h3>
                <a href="/">Go to Top</a>
                <a href="/">Home</a>
                <a href="/NewTool">Add Tool</a>
                <a href="/cateogery">Categories</a>
                <a href="/profile">Profile</a>
            </div>
        </div>

        <div class="footer-bottom">


            <!-- add toolstore -->
            <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>

            </div>

            <strong>
                <p>All Rights Reserved. &copy; Tool<span>Store</span>2023
            </strong></p>


        </div>

    </footer>
</body>

</html>